<!DOCTYPE html>
<html>
    <head>
        <title>A Boy and his Box</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Graduate|VT323" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/pl.png">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/"><img src="/assets/icon.png">Home</a></li><li>
                    <a href="/game">Game</a></li><li>                        
                    <a href="/credits">About</a></li><li>
                    <a href="https://twitter.com/BoyandBox" id="twitter"><img src="/assets/twitter.jpg"></a></li>
            </ul>
        </nav>
        <div id="main">
            <canvas id="mainCanvas"></canvas>
            <p>Press F to toggle fullscreen!</p>
            <script src="/game/js/jsTools/array.js"></script>
            <script src="/game/js/jsTools/keyboard.js"></script>
            <script src="/game/js/jsTools/pointer.js"></script>
            <script src="/game/js/jsTools/vectors.js"></script>
            <script src="/game/js/jsTools/colission.js"></script>
            <script src="/game/js/jsTools/text.js"></script>
            <script src="/game/js/poofs.js"></script>
            <script src="/game/js/audio.js"></script>
            <script src="/game/js/helpers.js"></script>
            <script src="/game/js/levels.js"></script>
            <script src="/game/js/points.js"></script>
            <script src="/game/js/box.js"></script>
            <script src="/game/js/enemies.js"></script>
            <script src="/game/js/sprites.js"></script>
            <script src="/game/js/world.js"></script>
            <script src="/game/js/player.js"></script>
            <script src="/game/js/game.js"></script>
        </div>
    </body>
</html>