<!DOCTYPE html>
<html>
    <head>
        <title>A Boy and his Box</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/"><img src="/assets/icon.png">Home</a></li><li>
                    <a href="/game">Game</a></li><li>                        
                    <a href="/credits">About</a></li>
            </ul>
        </nav>
        <div id="main">
            <h1>A Boy and his Box</h1>
            <p>
                A boy and his box is a platformer-game about a boy and his teleporting box.
            </p>
            <img src="/assets/game.png">
            <h2><a href="/game">Play!</a></h2>
        </div>
    </body>
</html>